body,ul,li,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend {margin:0;padding:0;}
body {font:12px/1.6em "微软雅黑","Arial Narrow"; background:#f3f4f6;;overflow-x:hidden; color: #3a3f4a}
a {color:#3a3f4a; text-decoration:none;}
a:hover { color:#f74a4a;; text-decoration:underline; }
li {list-style:none;}
img {display:block;}
fieldset,img {border:none;}
table {border-collapse:collapse; border-spacing:0;}
.clearfix:after {content: ".";display: block;height: 0; clear: both; visibility:hidden;}
/*公共样式  */
.wrap{width: 1190px; margin: 0 auto;}
.mb20{margin-bottom: 20px;}
.bg_white{background: #fff;}
.red{color:#f74a4a}
.comm_btn{text-align: center;color:#fff;border-bottom: 2px solid #e43333; cursor: pointer;background: #f74a4a;}
.comm_btn:hover{text-decoration: none;background: #e43333;border-color: #ce2d2d;color: #fff;}
em,i{font-style: normal}
/*  */
.comm_cont_i{float:left;height: 24px;width: 26px;background: url(../images/icon.png) no-repeat;margin-right: 3px;}
.w_950{width: 950px;float: left; overflow: hidden;}
.w_txt{height: 24px; line-height: 24px; font-size: 18px; margin-bottom: 10px;}
.w_txt a{color: #1994eb; font-size: 12px;}
.w_230{width: 230px;float: right;}